<div style="padding:20px 0px 0 30px;">
	<div id="img_container" style="margin:0px 0 18px 0;">
		<a href="http://search.detourlab.com">
		  <img src="https://github.com/detour/assets/raw/master/sloppy/google_logo.png" width="130">
		</a>
	</div>
	
	<div style="width:220px;text-align:left;float:left;">
		<div style="width:220px;margin:0 40px 30px 0;">
			<div class="label_cate">Hot Languages</div>
			<div id="language_list" >
				<ol>
				</ol>
			</div>
		</div>
		<div style="width:220px;">
			<div class="label_cate">Hot Searches</div>
			<div id="search_list">
				<ol>
				</ol>
			</div>
		</div>
	</div>
	
	<div style="width:20px;height:600px;margin-left:20px; position:absolute; left:220px;" id="hBorder">			
		<div style="width:900px;position:absolute; left: 30px; line-height:18px;">
			<div id="keyword" style="font-size:21px;"></div>
			<div id="hotness_graph" style='margin:8px 0 4px 0'></div>
			<div style="margin-top:23px;">Hotness: <span id="hotness_level" style="color:#ff0000;"></span></div>
			<div style="margin-top:20px;">[ Related Searches ]</div>
			<div style="margin-top:5px;width:500px;" id="related_searches"></div>
			<div style="margin-top:18px;">[ Total Searches ]</div>
			<div style="margin-top:5px;" id="total_search"></div>
		
			<div style="width:900px;height:300px;margin-top:20px;float:left;" id="hotnessGraph" />	
		</div>
	
		<div style="text-align:center;line-height:23px;display:inline-block;padding-top:24px;">
			<!-- <div>- About Sloppy Google Trends -</div> -->
			<div><a href="/">- Sloppy Google (not affiliated with Google Inc)</a></div>
			<div></div>
		</div>
	</div>

</div>

<% content_for :foot do %>
<script type="text/javascript" language="javascript" src="<%= CDN_URL %>/jquery.js"></script>
<script type="text/javascript" language="javascript" src="<%= CDN_URL %>/jquery.url.js"></script>
<script type="text/javascript" language="javascript" src="<%= CDN_URL %>/processing-1.0.0.js"></script>
<script type="text/javascript" language="javascript" src="<%= CDN_URL %>/p_base.js"></script>		
<script type="text/javascript" language="javascript" src="<%= CDN_URL %>/trends.js"></script>
<% end %>